
$header-outline: hsl(217, 16%, 45%);



@mixin boxing() {
    border: 3px solid rgb(255, 255, 255, 30%);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
@mixin circle($size) {

    width:$size ;
		height: $size;
		border-radius: 50%;
		background-color: white;
		display: grid;
		place-content: center;
		position: absolute;
		background-repeat: no-repeat;
}
@mixin shadowing($shadow){
    box-shadow: inset 0px 3px 8px 3px $header-outline ;
	// , 0px 3px 0 2px $shadow;
    border: 15px solid $shadow;
}
@mixin loading($i,$name) {

	@include circle(140px);
	@include shadowing($i);	
	background-image: url('/rock-paper-scissors-master/images/icon-#{$name}.svg');
	background-repeat: no-repeat;
	background-position: 30px 30px;

	};
